[gcode_macro FILAMENT_LOAD]
description: Load filament
gcode:
    {% set min_temp = params.TEMP|default(210)|int %}
    {% set vars = printer["gcode_macro _CLIENT_VARIABLE"] %}
    {% set park_x = vars.custom_park_x|float %}
    {% set park_y = vars.custom_park_y|float %}
    {% set park_dz = vars.custom_park_dz|float %}
    {% set slow = vars.load_speed_slow|int %}
    {% set fast = vars.load_speed_fast|int %}

    SAVE_GCODE_STATE NAME=load_state

    _PARK_WHILE_HEATING TEMP={min_temp}

    G91
    G92 E0

    # Stage 1: feed into hotend
    G1 E40 F{fast}

    # Stage 2: controlled prime
    G1 E30 F{slow}

    # Anti-string retract
    G1 E-1.5 F{slow}

    G92 E0
    RESPOND MSG="Filament loaded"

    RESTORE_GCODE_STATE NAME=load_state


[gcode_macro FILAMENT_UNLOAD]
description: Unload filament
gcode:
    {% set min_temp = params.TEMP|default(210)|int %}
    {% set vars = printer["gcode_macro _CLIENT_VARIABLE"] %}
    {% set park_x = vars.custom_park_x|float %}
    {% set park_y = vars.custom_park_y|float %}
    {% set park_dz = vars.custom_park_dz|float %}
    {% set slow = vars.unload_speed_slow|int %}
    {% set fast = vars.unload_speed_fast|int %}

    SAVE_GCODE_STATE NAME=unload_state

    _PARK_WHILE_HEATING TEMP={min_temp}

    G91
    G92 E0

    # Proper tip formation for a Volcano-style extruder
    G1 E6 F{slow}
    G1 E-12 F{slow}
    G1 E-50 F{fast}

    G92 E0
    RESPOND MSG="Filament unloaded"

    RESTORE_GCODE_STATE NAME=unload_state
