######################################################################
# Runout Handling Macros
######################################################################

# Filament sensor triggers this macro
[gcode_macro _RUNOUT_PAUSE]
gcode:
    RESPOND MSG="Filament runout detected!"
    _SET_LED_RED
    {% set vars = printer["gcode_macro _CLIENT_VARIABLE"] %}
    {% set park_x = vars.custom_park_x|float %}
    {% set park_y = vars.custom_park_y|float %}
    {% set park_dz = vars.custom_park_dz|float %}
    {% set fast = vars.unload_speed_fast|int %}


    SAVE_GCODE_STATE NAME=runout_state

    # Heat nozzle to safe unload temperature
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=210

    _PARK_NOZZLE

    # Unload remaining filament to bin
    G91
    G92 E0
    G1 E-50 F{fast}
    G92 E0
    G90

    # Set LED red while waiting for user to insert new filament
    _SET_LED_RED
    RESPOND MSG="Insert new filament and run the RUNOUT_RESUME macro"

    RESTORE_GCODE_STATE NAME=runout_state

# Resume macro specific to runout
[gcode_macro RUNOUT_RESUME]
description: resume after a filament runout, purging the nozzle over the park position
gcode:
    {% set prime_temp = printer.extruder.target if printer.extruder.target > 0 else 200 %}

    SAVE_GCODE_STATE NAME=runout_resume_state

    _SET_LED_GREEN

    # Heat nozzle to last printing temperature
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={prime_temp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={prime_temp}

    _PARK_NOZZLE

    RESPOND MSG="Priming after filament runout"
    G91
    G1 Z10 F3000
    G90
    G92 E0
    G1 E15 F300
    G1 E-1 F1200
    G92 E0
        
    _SET_LED_WHITE
    RESUME_PRINT
    RESTORE_GCODE_STATE NAME=runout_resume_state

[gcode_macro RESUME]
description: resume after a "normal" (not filament runout) pause
gcode:
    RESUME_PRINT