######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# _PRINT_START and _PRINT_END. See docs/Slicers.md for more information on using these macros.

[gcode_macro _PRINT_START]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set vars = printer["gcode_macro _CLIENT_VARIABLE"] %}
    {% set park_x = vars.custom_park_x|float %}
    {% set park_y = vars.custom_park_y|float %}
    {% set park_dz = vars.custom_park_dz|float %}

    G90
    SET_GCODE_OFFSET Z=0.0

    # Start heating bed (no wait)
    RESPOND MSG="Preheating bed to {BED_TEMP}º"
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}

    # Home
    SMARTHOME

    # Load mesh (must be after homing)
    BED_MESH_PROFILE LOAD=default

    # Start heating nozzle (no wait)
    RESPOND MSG="Preheating nozzle to {EXTRUDER_TEMP}º"
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}

    # Lift the nozzle
    G91
    G1 Z{park_dz} F3000
    G90

    # Park the nozzle
    G1 X{park_x} Y{park_y} F6000

    # Wait for bed
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}
    RESPOND MSG="Bed pre-heating complete"

    # Wait for nozzle
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}
    RESPOND MSG="Nozzle pre-heating complete"

    # Reset extruder & purge
    G92 E0
    _PURGE_LINE
    _SET_LED_WHITE
    RESPOND MSG="Start printing!"


[gcode_macro _PRINT_END]
gcode:
    {% set vars = printer["gcode_macro _CLIENT_VARIABLE"] %}
    {% set park_x = vars.custom_park_x|float %}
    {% set park_y = vars.custom_park_y|float %}
    {% set park_dz = vars.custom_park_dz|float %}
    
    # Retract slightly and lift the nozzle
    G91
    G1 E-5 F1800
    G1 Z{park_dz} F3000
    G90

    # Park the nozzle
    G1 X{park_x} Y{park_y} F6000

    # Turn off heaters and fan
    TURN_OFF_HEATERS
    M106 S0

    # Disable steppers
    M84

    # Set LED color
    _SET_LED_SKY_BLUE
